/*clases para barra superior */


#contenedor-barra {
	background: #0d47a1;
	padding: 2px;
	overflow: hidden;
	

  }

#barra-derecha {
	float: right;
	padding: 5px;
	width: 200px;
	margin: 20px;
	background: none;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	}

.text {
	text-decoration: none;
	color: white;
	}

