#contenedor
{

	background-color: #ffffff;

	width: 1163px;

	margin-right: auto;

	margin-left: auto;

}

#arriba
{

	background-color: #E2E2E2;

	height: 15px;

	width: 1163px;

	float: left;

}

.imagen
{
	padding-left: 20px;
	margin-top: 7px;
	margin-bottom: 7px;
}

#arriba2
{

	background-color: #ffffff;

	height: 100px;

	width: 1163px;

	float: left;

}

#menu-principal
{

	background-color: #10459C;

	float: left;

	height: 44px;

	width: 1163px;

}

#espacio
{

	background-color: #FFFFFF;

	float: left;

	height: 13px;

	width: 1163px;

}

#espacio2
{

	background-color: #FFFFFF;

	float: left;

	height: 185px;

	width: 1163px;

}

#espacio3
{

	background-color: #FFFFFF;

	float: left;

	height: 86px;

	width: 1163px;

	background-image: url(../imagenes/fondolinea.png);

	background-repeat: repeat-x;

	background-position: left top;

}

#medio3
{

	background-color: #FFFFff;

	float: left;

	height: auto;

	width: 1163px;

}

#menuizq
{

	float: left;

	height: auto;

	width: 240px;

}

#medio3
{

	background-color: #FFFFFF;

	float: left;

	height: auto;

	width: 1163px;

}

#medio4
{

	background-color: #FFFFFF;

	float: left;

	height: auto;

	width: 43px;

}

#medio44
{

	background-color: #FFFFFF;

	float: right;

	height: 37px;

	width: 880px;

	background-image: url(../imagenes/fondolineatitul.png);

	background-repeat: repeat;

	background-position: left top;

}

#medio5
{

	background-color: #FFFFFF;

	float: left;

	height: auto;

	width: 43px;

}

#medio55
{

	background-color: #FFFFFF;

	float: right;

	height: 22px;

	width: 880px;

}

#medio56
{

	background-color: #FFFFFF;

	float: right;

	height: auto;

	width: 880px;

}

#medio9
{

	background-color: #FFFFFF;

	float: left;

	height: 110PX;

	width: 1163px;

}

#abajo
{

	background-color: #ffffff;

	background-image: url(../imagenes/fondoazul.png);

	float: left;

	height: 190px;

	width: 1100px;

	padding-top: 29px;

	padding-left: 31px;

	padding-right: 32px;

	background-repeat: repeat;

	background-position: left top;

}
.padding-abajo
{

	padding-top: 1px;

	padding-left: 5px;

	padding-right: 5px;

	padding-bottom: 5px;

}

.arriba-padding-tabla
{

	margin-top: 7px;

	margin-bottom: 6px;

}

.textarea-buscar
{

	border-bottom: 1px  #10459C;

	border-left: 1px  #ffffff;

	border-right: 1px  #ffffff;

	border-top: 1px  #ffffff;

	border-style: solid;

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #D6D3D3;

	vertical-align: middle;

	background: #ffffff;

	max-width: 264px;

	min-width: 264px;

	max-height: 36px;

	min-height: 36px;

	text-align: left;

}

.textarea-carro
{

	border: 1px  #2153A6;

	border-radius: 5px;

	border-style: solid;

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #B6B6B6;

	vertical-align: middle;

	background: #F9F9F9;

	max-width: 44px;

	min-width: 44px;

	max-height: 34px;

	min-height: 34px;

	text-align: center;

}

*
{

	margin: 0px;

	padding: 0px;

}



#header
{

	margin-top: auto;

	margin-bottom: auto;

	width: 1090px;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

}



ul, ol
{

	list-style: none;

}



.nav > li
{

	float: left;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

}



.nav li a
{

	background-color: #10459C;

	color: #ffffff;

	text-decoration: none;

	padding-right: 15px;

	padding-top: 12px;

	padding-bottom: 15px;

	padding-left: 15px;

	display: block;

	height: 17px;



}



.nav li a:hover
{

	background-color: #E2E2E2;

	color: #10459C;

}



.nav li ul
{

	display: none;

	position: absolute;

	min-width: 140px;

}



.nav li:hover > ul
{
	
	display: inline-block;

}



.nav li ul li
{
	position: relative;

}



.nav li ul li ul
{

	right: -140px;
	
	top: 0px;

	z-index: 7;

}

.activo > li
{

	float: left;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

}

.activo li a
{

	background-color: #10459C;

	color: #ffffff;

	text-decoration: none;

	padding-right: 15px;

	padding-top: 12px;

	padding-bottom: 15px;

	padding-left: 15px;

	display: block;

	height: 17px;

	background-color: #E2E2E2;

	color: #10459C;



}



.activo li a:hover
{



}



.activo li ul
{

	
	display: none;
	
	position: absolute;
	
	min-width: 140px;

}

.activo li:hover > ul
{

	display: block;

}

.activo li ul li
{
	
	position: relative;

}



.activo li ul li ul
{
	
	right: -140px;

	top: 0px;

}















#accordion
{

	list-style: none;

	width: 240px;

}

#accordion li
{

	display: block;

	margin: 3px;

	padding-left: 11PX;

	padding-right: 11PX;

	padding-top: 7PX;

	padding-bottom: 7PX;

	cursor: pointer;

	list-style: circle;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

	font-family: 'Open Sans', sans-serif;

	color: #FFFFFF;

	font-size: 15px;



}

#accordion ul
{

	list-style: none;

	padding: 0 0 0 0;

	display: none;

	text-decoration: none;

}

#accordion ul li
{

	cursor: auto;

	background-color: #EBEBEB;

	padding-top: 5px;

	padding-bottom: 5px;

	text-decoration: none;

}

#accordion a
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	color: #717171;

	font-size: 14PX;

}

#accordion a:hover
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	color: #10459C;

	padding-left: 9px;

	font-size: 14PX;

	font-weight: normal;

}





.accordion-COLOR1
{

	background: #959595;



}

.accordion-COLOR2
{

	background: #7AA2D7;



}

.accordion-COLOR3
{

	background: #959595;



}

.accordion-COLOR4
{

	background: #959595;



}

#activado
{

	font-family: 'Open Sans', sans-serif;

	color: #10459C;

	font-size: 15PX;

	font-weight: normal;

}

#activado a
{

	font-family: 'Open Sans', sans-serif;

	color: #10459C;

	font-size: 15PX;

	font-weight: normal;

	padding-left: 9px;

}

#activado a:hover
{

	font-family: 'Open Sans', sans-serif;

	color: #10459C;

	font-size: 15PX;

	font-weight: normal;

}

.sinlink
{

	margin: 2px;

	list-style: circle;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

	font-family: 'Open Sans', sans-serif;

	color: #ffffff;

	font-size: 15PX;

	width: 236PX;

	background-color: #97BBEA;

	height: 24px;

	padding-left: 11PX;

	padding-right: 7PX;

	padding-top: 4PX;

	padding-bottom: 4PX;

}

.sinlink2
{

	margin: 2px;

	list-style: circle;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

	font-family: 'Open Sans', sans-serif;

	color: #666A6E;

	font-size: 15PX;

	width: 244PX;

	height: 24px;

	padding-left: 7PX;

	padding-right: 7PX;

	padding-top: 4PX;

	padding-bottom: 4PX;

}

















.titulos
{

	font-family: 'Open Sans', sans-serif;

	font-size: 27px;

	color: #1248A0;

	text-align: left;

	padding-left: 15px;

}



.myButton
{

	background-color: #b8b8b8;

	-moz-border-radius: 6px;

	-webkit-border-radius: 6px;

	border-radius: 6px;

	display: inline-block;

	cursor: pointer;

	color: #ffffff;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	padding: 8px 12px;

	text-decoration: none;

}

.myButton a
{

	text-decoration: none;

	color: #ffffff;

	font-family: 'Open Sans', sans-serif;

}

.myButton:hover
{

	background-color: #27559e;

}

.myButton:active
{

	position: relative;

}

.texto-product
{

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #878787;

	text-align: left;

}

.texto-cod
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #1248A0;

	text-align: left;

	font-weight: bold;

}

.texto-civa
{

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	color: #1248A0;

	text-align: left;

}

.texto-price
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #7A0000;

	text-align: left;

	font-weight: bold;

}

.texto-cant
{

	font-family: 'Open Sans', sans-serif;

	font-size: 12px;

	color: #878787;

	text-align: right;

}

.texto-ver
{

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	color: #1248A0;

	text-align: left;

}

.texto-ver a
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	color: #1248A0;

}

.texto-ver a:hover
{

	text-decoration: underline;

}

.texto-abajo
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #BCCBE3;

	text-align: left;

}

.texto-abajo a
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #BCCBE3;

	text-align: left;

	text-decoration: none;

}

.texto-abajo a:hover
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #ffffff;

	text-decoration: underline;

	text-align: left;

}

.texto-abajo2
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #BCCBE3;

	text-align: left;

	text-decoration: underline;

}

.texto-titulo-internas
{

	font-family: 'Open Sans', sans-serif;

	font-size: 39px;

	color: #FFFFFF;

	text-align: left;

	padding-left: 18px;

	padding-top: 21px;

}

.texto-ruta
{

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	color: #9D9D9D;

}

.texto-ruta2
{

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	color: #9D9D9D;

	text-decoration: underline;

}

.texto-principal1
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #878787;

	text-align: justify;

}

.texto-principal1 a
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #878787;

	text-align: justify;

	text-decoration: underline;

}

.texto-principal1 a:hover
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #878787;

	text-align: justify;

	text-decoration: underline;

}

.texto-principal-tabla
{

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;

	padding-left: 5px;

	padding-right: 5px;

}

.texto-principal-tabla a
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;



}

.texto-principal-tabla a:hover
{

	text-decoration: underline;

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;



}

.texto-principal1-blanco
{

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #FFFFFF;

	text-align: justify;

	padding-left: 5px;

}

.texto-principal-titulo
{

	font-family: 'Open Sans', sans-serif;

	font-size: 24px;

	color: #878787;

	text-align: justify;

	width: 100%;

}

.texto-principal-telbig
{

	font-family: 'Open Sans', sans-serif;

	font-size: 24px;

	color: #556CB7;

	text-align: justify;

	width: 100%;

}



#liststilos
{

	font-family: 'Open Sans', sans-serif;

	font-size: 12px;

	color: #10459C;

	list-style-type: none;

	display: inline;

	text-decoration: none;

}





ul#mi_lista li
{

	display: inline;

	font-family: 'Open Sans', sans-serif;

	padding-left: 1px;

	font-size: 12px;

	color: #878787;

}



ul#mi_lista li a
{

	text-decoration: none;

	color: #10459C;

	font-family: 'Open Sans', sans-serif;

}





.texto-principal33
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #878787;

	text-align: justify;

	padding-left: 6px;

	padding-right: 6px;

	padding-top: 10px;

}

.texto-principal33 a
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #878787;

	text-decoration: underline;

}

.texto-principal33 a:hover
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #878787;

	text-decoration: underline;

}



.textarea-mensaje
{

	border-bottom: 1px  #A5A5A5;

	border-left: 1px  #A5A5A5;

	border-right: 1px  #ffffff;

	border-top: 1px  #ffffff;

	border-style: solid;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	padding-top: 3px;

	padding-left: 3px;

	padding-right: 3px;

	color: #003366;

	vertical-align: middle;

	background: #FAFAFA;

	max-width: 100%;

	min-width: 100%;

	max-height: 100px;

	min-height: 100px;

	margin-bottom: 2px;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}

.textarea-tel
{

	border-bottom: 1px  #A5A5A5;

	border-left: 1px  #A5A5A5;

	border-right: 1px  #ffffff;

	border-top: 1px  #ffffff;

	border-style: solid;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	padding-top: 3px;

	padding-left: 3px;

	padding-right: 3px;

	color: #003366;

	vertical-align: middle;

	background: #FAFAFA;

	max-width: 100%;

	min-width: 100%;

	max-height: 22px;

	min-height: 22px;

	margin-bottom: 2px;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}

.textarea-contacto-66
{

	border-bottom: 1px  #A5A5A5;

	border-left: 1px  #A5A5A5;

	border-right: 1px  #ffffff;

	border-top: 1px  #ffffff;

	border-style: solid;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	padding-top: 3px;

	padding-left: 3px;

	padding-right: 3px;

	color: #003366;

	vertical-align: middle;

	background: #FAFAFA;

	max-width: 100%;

	min-width: 100%;

	max-height: 23px;

	min-height: 23px;

	margin-bottom: 2px;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}

.error
{



	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	color: #D00000;

	padding-left: 2px;

	padding-bottom: 20px;



}

.error2
{



	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	color: #D00000;

	padding-left: 2px;

	font-weight: bold;

	padding-bottom: 10px;

	text-align: right



}



.error:before
{

	content: '';

	border-top: 8px solid transparent;

	border-bottom: 8px solid transparent;

	border-right: 8px solid #BC1010;

	border-left: 8px solid transparent;

	left: -16px;

	position: absolute;

	top: 5px;

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

}

.error-condiciones
{

	font-size: 13px;

	font-family: 'Open Sans', sans-serif;

	color: D00000;

	line-height: 15px;

}





.boton
{

	margin-right: -5px;

	padding-top: 5px;



}





.texto-titulos-producto
{

	font-family: 'Open Sans', sans-serif;

	font-size: 23px;

	color: #ffffff;

	padding-left: 10px;

}







#accordionn12
{

	list-style: none;

	width: 240px;

}

#accordionn12 li
{

	display: block;

	margin: 3px;

	padding-left: 11PX;

	padding-right: 11PX;

	padding-top: 7PX;

	padding-bottom: 7PX;

	cursor: pointer;

	list-style: circle;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

	font-family: 'Open Sans', sans-serif;

	color: #FFFFFF;

	font-size: 15px;



}

#accordionn12 ul
{

	list-style: none;

	padding: 0 0 0 0;

	display: none;

	text-decoration: none;

}

#accordionn12 ul li
{

	cursor: auto;

	background-color: #7AA2D7;

	padding-top: 5px;

	padding-bottom: 5px;

	text-decoration: none;

}

#accordionn12 a
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	color: #7AA2D7;

	font-size: 14px;

}

#accordionn12 a:hover
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	color: #10459C;

	padding-left: 9px;

	font-size: 14PX;

	font-weight: normal;

}





.accordionn12-COLOR1
{

	background: #7AA2D7;



}

.accordionn12-COLOR2
{

	background: #7AA2D7;



}

.accordionn12-COLOR3
{

	background: #959595;



}

.accordionn12-COLOR4
{

	background: #959595;



}



.titulo-detalle
{

	font-family: 'Open Sans', sans-serif;

	font-size: 17px;

	color: #ffffff;

	padding-left: 7px;

	padding-right: 7px;

	padding-top: 7px;

	padding-bottom: 7px;

}



.texto-detalle
{

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	color: #666666;

	padding-left: 7px;

	padding-right: 7px;

	padding-top: 7px;

	padding-bottom: 7px;

}



.texto-precio
{

	font-family: 'Open Sans', sans-serif;

	font-size: 17px;

	color: #990000;

	padding-left: 7px;

	padding-right: 7px;

	padding-top: 7px;

	padding-bottom: 7px;

	font-weight: bold;

}



.padding-img2
{

	padding-top: 4px;

}



.padding-img3
{

	padding-top: 21px;

}





.padding-cotizador
{

	padding: 8px;

	-moz-border-radius: 16px;

	-webkit-border-radius: 16px;

	border-radius: 16px;

	border: 4px solid #1952AE;

	background-color: #1952AE;

	margin-left: auto;

	margin-right: auto;

}

.padding-cotizador2
{

	padding-right: 19px;

}

.padding-cotizador3
{

	-moz-border-radius: 13px;

	-webkit-border-radius: 13px;

	border-radius: 13px;

	border: 4px solid #FFFFFF;

	background-color: #FFFFFF;

}

.padding-cotizador4
{

	margin-top: 33PX;

	padding-bottom: 39px;

}

.padding-cotizador5
{

	margin-top: 45PX;

	margin-bottom: 22px;

	border: 1px solid #1952AE;

	-moz-border-radius: 7px;

	-webkit-border-radius: 7px;

	border-radius: 7px;

	background-color: #F6F6F6;

	padding-top: 10px;

	padding-bottom: 10px;

}

.padding-cotizador6
{

	margin-top: 45PX;

	margin-bottom: 22px;

	border: 1px solid #1952AE;

	-moz-border-radius: 11px;

	-webkit-border-radius: 11px;

	border-radius: 11px;

	background-color: #F6F6F6;

}

.padding-cotizador7
{

	margin-left: auto;

	margin-right: auto;

}





.texto-principal-tabla2
{

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;

	padding-left: 16px;

	padding-right: 16px;

}

.texto-principal-tabla2 a
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;



}

.texto-principal-tabla2 a:hover
{

	text-decoration: underline;

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;



}





.texto-principal-tabla3
{

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;

	padding-left: 8px;

	padding-right: 8px;

}

.texto-principal-tabla3 a
{

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;



}

.texto-principal-tabla3 a:hover
{

	text-decoration: underline;

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	color: #666666;



}





.myButton2
{

	background-color: #b8b8b8;

	-moz-border-radius: 6px;

	-webkit-border-radius: 6px;

	border-radius: 6px;

	display: inline-block;

	cursor: pointer;

	color: #ffffff;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	padding: 8px 12px;

	text-decoration: none;

}

.myButton2 a
{

	text-decoration: none;

	color: #ffffff;

	font-family: 'Open Sans', sans-serif;

}

.myButton2:hover
{

	background-color: #9B0C20;

}

.myButton2:active
{

	position: relative;

}







.textarea-tel111
{

	border-bottom: 1px  #A5A5A5;

	border-left: 1px  #A5A5A5;

	border-right: 1px  #ffffff;

	border-top: 1px  #ffffff;

	border-style: solid;

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	padding-top: 3px;

	padding-left: 3px;

	padding-right: 3px;

	padding-bottom: 3px;

	color: #3A5AB5;

	vertical-align: middle;

	background: #FAFAFA;

	max-width: 200px;

	min-width: 200px;

	max-height: 26px;

	min-height: 26px;

	margin-bottom: 2px;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}

.textarea-contacto111
{

	border-bottom: 1px  #A5A5A5;

	border-left: 1px  #A5A5A5;

	border-right: 1px  #ffffff;

	border-top: 1px  #ffffff;

	border-style: solid;

	font-family: 'Open Sans', sans-serif;

	font-size: 15px;

	padding-top: 3px;

	padding-left: 3px;

	padding-right: 3px;

	color: #003366;

	vertical-align: middle;

	background: #FAFAFA;

	max-width: 98%;

	min-width: 98%;

	max-height: 23px;

	min-height: 23px;

	margin-bottom: 2px;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}





.texto-product
{

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #878787;

	text-align: left;

}

.texto-product a
{

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #878787;

	text-align: left;

	text-decoration: none;

}

.texto-product a:hover
{

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #636262;

	text-align: left;

}



.IMG_BORDER
{

	border: solid #D8D8D8 1PX;

	padding-top: 4px;

}

.style3
{
	color: #1952AE;
	font-size: 18px;
}

.texto-product2
{

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #878787;

	text-align: center;

}

.texto-product2 a
{

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #878787;

	text-align: center;

	text-decoration: none;

}

.texto-product2 a:hover
{

	font-family: 'Open Sans', sans-serif;

	font-size: 16px;

	color: #636262;

	text-align: center;

}
