<table style="width: 880px;" border="0" cellspacing="0" cellpadding="0" align="left">
<table style="width: 880px;" border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
	<tr>
		<td class="texto-principal-titulo" align="left" valign="top" width="880">Puntos de ventas</td>
	</tr>
	<tr>
		<td align="left" valign="top" width="880">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" valign="top" width="880">
			<div align="justify">
				<table style="width: 880px;" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="left" valign="top">
								<table style="width: 470px;" border="0" cellspacing="4" cellpadding="0" align="left">
									<tbody>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="95">Direcci&oacute;n</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">Av. Manuel Antonio Matta 1257, Santiago-Chile</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">Sucursal</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">Santiago</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">Tel&eacute;fono</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">(+56 9) 7673 0080</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">E-mail</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45"><a href="mailto:ventas@opplechile.cl" target="_self">matta@opplechile.cll</a></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td align="left" valign="top" width="400"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.005648050386!2d-70.77005018432095!3d-33.449159380774276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c24c7b3e12bf%3A0xd1e8bc8611decd71!2sClaudio+Arrau+9430%2C+Pudahuel%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1526494323760" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
							</td>
						</tr>
					</tbody>
				</table>
				
				<br>
				<br>
				<table>
					<tbody>
						<tr>
							<td align="left" valign="top">
								<table style="width: 470px;" border="0" cellspacing="4" cellpadding="0" align="left">
									<tbody>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="95">Direcci&oacute;n</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">Victoria 2444 - 2448</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">Sucursal</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">Valparaiso</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">Tel&eacute;fono</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">(+56 3) 2318 4346</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">E-mail</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45"><a href="mailto:ventas@opplechile.cl" target="_self">valparaiso@opplechile.cl</a></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td align="left" valign="top" width="400"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.005648050386!2d-70.77005018432095!3d-33.449159380774276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c24c7b3e12bf%3A0xd1e8bc8611decd71!2sClaudio+Arrau+9430%2C+Pudahuel%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1526494323760" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
							</td>
						</tr>
					</tbody>
				</table>
							<br>
							<br>
								
				<table>
					<tbody>
						<tr>
							<td align="left" valign="top">
								<table style="width: 470px;" border="0" cellspacing="4" cellpadding="0" align="left">
									<tbody>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="95">Direcci&oacute;n</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">Victoria 2444 - 2448</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">Sucursal</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">Valparaiso</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">Tel&eacute;fono</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45">(+56 3) 2318 4346</td>
										</tr>
										<tr>
											<td class="texto-principal1-blanco" align="left" valign="middle" bgcolor="#1952AE" width="110">E-mail</td>
											<td class="texto-principal-tabla" align="left" valign="middle" bgcolor="#EFEFEF" width="375" height="45"><a href="mailto:ventas@opplechile.cl" target="_self">valparaiso@opplechile.cl</a></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td align="left" valign="top" width="400"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.005648050386!2d-70.77005018432095!3d-33.449159380774276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c24c7b3e12bf%3A0xd1e8bc8611decd71!2sClaudio+Arrau+9430%2C+Pudahuel%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1526494323760" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
							</td>
						</tr>
					</tbody>
				</table>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p class="texto-principal-tabla style1"><em>*Nuestros horarios de atenci&oacute;n en todas las sucursales son de lunes a viernes de 09:00 a 19:00 hrs. </em></p>
						<p class="texto-principal-tabla style1"><em>*Nuestros horarios de atenci&oacute;n sucursal Valpara&iacute;so s&aacute;bados 09:30 a 14:30 hrs. </em></p>
			</div>
		</td>
	</tr>
	</tbody>
</table>