#contenedor {

	background-color: #ffffff;

	width: 1163px;

	margin-right: auto;

	margin-left: auto;

}

#arriba {

	background-color: #E2E2E2;

	height: 13px;

	width: 1163px;

	float:left;

}

#arriba2 {

	background-color: #ffffff;

	height: 144px;

	width: 1163px;

	float:left;

}

#menu-principal {

	background-color: #10459C;

	float: left;

	height: 44px;

	width: 1163px;

}

#banner {

	background-color: #FFFFFF;

	float: left;

	height: 351px;

	width: 1163px;

}

#separo-fondo {

	background-color: #FFFFFF;

	float: left;

	height: 69px;

	width: 1163px;

	background-image: url(../imagenes/fond-separa.png);

	background-repeat: no-repeat;

	background-position: left top;

}

#medio {

	background-color: #FFFFFF;

	float: left;

	height: 51px;

	width: 1163px;

	background-image: url(../imagenes/fondo-line.png);

	background-repeat: no-repeat;

	background-position: left top;

}

#medio2 {

	background-color: #ffffff;

	float: left;

	height: 17px;

	width: 1163px;

}

#medio3 {

	background-color: #FFFFff;

	float:left;

	height: auto;

	width: 1163px;

}

#medio4 {

	background-color: #FFFFFF;

	float: left;

	height: 51px;

	width: 1163px;

	background-image: url(../imagenes/fondo-line.png);

	background-repeat: no-repeat;

	background-position: left top;

}

#medio5 {

	background-color: #ffffff;

	float: left;

	height: 17px;

	width: 1163px;

}

#medio6 {

	background-color: #FFFFff;

	float:left;

	height: auto;

	width: 1163px;

}

#medio7 {

	background-color: #FFFFFF;

	float: left;

	height: 51px;

	width: 1163px;

	background-image: url(../imagenes/fondo-line.png);

	background-repeat: no-repeat;

	background-position: left top;

}

#medio8 {

	background-color: #ffffff;

	float: left;

	height: 17px;

	width: 1163px;

}

#medio9 {

	background-color: #FFFFff;

	float:left;

	height: auto;

	width: 1163px;

}

#abajo {

	background-color: #ffffff;

	background-image:url(../imagenes/fondoazul.png);

	float: left;

	height: 322px;

	width: 1100px;

	padding-top: 29px;

	padding-left: 31px;

	padding-right: 32px;

	background-repeat: repeat;

	background-position: left top;

}

























































































.padding-abajo {

padding-top: 1px;

padding-left: 5px;

padding-right: 5px;

padding-bottom: 5px;



}









.arriba-padding-tabla {

margin-top: 29px;

margin-bottom: 30px;



}

.textarea-buscar {

border-bottom: 1px  #10459C;

border-left: 1px  #ffffff;

border-right: 1px  #ffffff;

border-top: 1px  #ffffff;

border-style: solid; 

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #D6D3D3;

vertical-align:middle;

background:  #ffffff;

max-width: 264px;

min-width: 264px;

max-height: 36px;

min-height: 36px;

text-align:left;

}

.textarea-carro {

border: 1px  #2153A6;

border-radius: 5px;

border-style: solid; 

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #B6B6B6;

vertical-align:middle;

background:  #F9F9F9;

max-width: 44px;

min-width: 44px;

max-height: 34px;

min-height: 34px;

text-align:center;

}

* {

				margin:0px;

				padding:0px;

			}

			

			#header {

				margin-top:auto;

				margin-bottom:auto;

				width:1090px;

				font-family: 'Open Sans', sans-serif;

				font-size: 15px;

			}

			

			ul, ol {

				list-style:none;

			}

			

			.nav > li {

				float:left;

				font-family: 'Open Sans', sans-serif;

				font-size: 15px;


			}

			

			.nav li a {

				background-color:#10459C;

				color:#ffffff;

				text-decoration:none;

				padding-right:15px;

				padding-top:12px;

				padding-bottom:15px;

				padding-left: 15px;

				display:block;

				height: 17px;



			}

			

			.nav li a:hover {

				background-color:#E2E2E2;

				color:#10459C;

			}

			

			.nav li ul {

				display:none;

				position:absolute;

				min-width:140px;

				z-index: 100;

			}

			

			.nav li:hover > ul {

				display:block;

			}

			

			.nav li ul li {

				position:relative;

			}

			

			.nav li ul li ul {

				right:-140px;

				top:0px;
				z-index:99;
			}



























			.activo > li {

				float:left;

				font-family: 'Open Sans', sans-serif;

				font-size: 15px;

			}

			

			.activo li a {

				background-color:#10459C;

				color:#ffffff;

				text-decoration:none;

				padding-right:15px;

				padding-top:12px;

				padding-bottom:15px;

				padding-left: 15px;

				display:block;

				height: 17px;

				background-color:#E2E2E2;

				color:#10459C;



			}

			

			.activo li a:hover {



			}

			

			.activo li ul {

				display:none;

				position:absolute;

				min-width:140px;

			}

			

			.activo li:hover > ul {

				display:block;

			}

			

			.activo li ul li {

				position:relative;

			}

			

			.activo li ul li ul {

				right:-140px;

				top:0px;

			}

					

.titulos {

font-family: 'Open Sans', sans-serif;

font-size: 27px;

color: #1248A0;

text-align:left;

padding-left: 15px;

}



.myButton {

	background-color:#b8b8b8;

	-moz-border-radius:6px;

	-webkit-border-radius:6px;

	border-radius:6px;

	display:inline-block;

	cursor:pointer;

	color:#ffffff;

	font-family: 'Open Sans', sans-serif;

	font-size:15px;

	padding:8px 12px;

	text-decoration:none;

}

.myButton:hover {

	background-color:#27559e;

}

.myButton:active {

	position:relative;

}

.texto-product {

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #878787;

text-align:left;

}

.texto-cod {

font-family: 'Open Sans', sans-serif;

font-size: 15px;

color: #1248A0;

text-align:left;

font-weight:bold;

}

.texto-civa {

font-family: 'Open Sans', sans-serif;

font-size: 13px;

color: #1248A0;

text-align:left;

}

.texto-price {

font-family: 'Open Sans', sans-serif;

font-size: 15px;

color: #7A0000;

text-align:left;

font-weight:bold;

}

.texto-cant{

font-family: 'Open Sans', sans-serif;

font-size: 12px;

color: #878787;

text-align: right;

}

.texto-ver {

font-family: 'Open Sans', sans-serif;

font-size: 13px;

color: #1248A0;

text-align:left;

}

.texto-abajo {

font-family: 'Open Sans', sans-serif;

font-size: 15px;

color: #BCCBE3;

text-align:left;

}

.texto-abajo a {

font-family: 'Open Sans', sans-serif;

font-size: 15px;

color: #BCCBE3;

text-align:left;

text-decoration:none;

}

.texto-abajo a:hover {

font-family: 'Open Sans', sans-serif;

font-size: 15px;

color: #ffffff;

text-decoration:underline;

text-align:left;

}

.texto-abajo2 {

font-family: 'Open Sans', sans-serif;

font-size: 15px;

color: #BCCBE3;

text-align:left;

text-decoration:underline;

}





.texto-ver {

font-family: 'Open Sans', sans-serif;

font-size: 13px;

color: #1248A0;

text-align:left;

}

.texto-ver a {

text-decoration:none;

font-family: 'Open Sans', sans-serif;

font-size: 13px;

color: #1248A0;

}

.texto-ver a:hover {

text-decoration:underline;

}







.texto-product {

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #878787;

text-align:left;

}

.texto-product a {

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #878787;

text-align:left;

text-decoration:none;

}

.texto-product a:hover {

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #636262;

text-align:left;

}
.texto-product2 {

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #878787;

text-align:center;

}

.texto-product2 a {

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #878787;

text-align:center;

text-decoration:none;

}

.texto-product2 a:hover {

font-family: 'Open Sans', sans-serif;

font-size: 16px;

color: #636262;

text-align:center;

}

.textarea-tel111 {

border-bottom: 1px  #A5A5A5;

border-left: 1px  #A5A5A5;

border-right: 1px  #ffffff;

border-top: 1px  #ffffff;

border-style: solid; 

font-family: 'Open Sans', sans-serif;

font-size: 13px;

padding-top: 3px;

padding-left: 3px;

padding-right: 3px;

padding-bottom: 3px;

color: #3A5AB5;

vertical-align:middle;

background:  #FAFAFA;

max-width: 200px;

min-width: 200px;

max-height: 26px;

min-height: 26px;

margin-bottom:2px;

	-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}
.texto-principal1-blanco {

font-family: 'Open Sans', sans-serif;

font-size: 14px;

color: #FFFFFF;

text-align:justify;

padding-left: 5px;

}


.texto-ruta {

font-family: 'Open Sans', sans-serif;

font-size: 13px;

color: #9D9D9D;

}

.texto-ruta2 {

font-family: 'Open Sans', sans-serif;

font-size: 13px;

color: #9D9D9D;

text-decoration:underline;

}
