.texto-titulos {

font-family: 'Roboto Condensed', sans-serif;

font-size: 15px;

color: #FFFFFF;

padding-left: 4px;

}

.texto-titulo2 {

font-family: 'Roboto Condensed', sans-serif;

font-size: 16px;

color: #404C5B;

padding-right: 36px;

text-decoration:underline;

}

.texto-normal {

font-family: 'Roboto Condensed', sans-serif;

font-size: 15px;

color: #3F4A58;

padding-left: 4px;

}

.TEXTO-ABAJO {

font-family: 'Roboto Condensed', sans-serif;

font-size: 15px;

color: #5E6C7D;

font-stretch: ultra-condensed;

line-height: 1.5;

}

.TEXTO-ABAJO a {

font-family: 'Roboto Condensed', sans-serif;

font-size: 15px;

color: #5E6C7D;

font-stretch: ultra-condensed;

line-height: 1.5;

text-decoration:none;

}

.TEXTO-ABAJO a:hover {

font-family: 'Roboto Condensed', sans-serif;

font-size: 15px;

color: #5E6C7D;

font-stretch: ultra-condensed;

line-height: 1.5;

text-decoration:underline;

}

.no-decoro {

text-decoration:none;

border: 0px;

}
.no-decoro2 {

text-decoration:none;

border: 0px;
padding-right: 10px;

}

.text-none {

font-family: 'Roboto Condensed', sans-serif;

font-size: 15px;

color: #990000;

font-stretch: ultra-condensed;

line-height: 1.5;

}