#contenedor {
	background-color: #FFFFFF;
	width: 1120px;
	margin-right: auto;
	margin-left: auto;
}
#arriba {
	background-color: #FFFFFF;
	height: 25px;
	width: 1120px;
	float:left;
	background-image: url(imagenes/arriba1.jpg);
}
#logo {
	background-color: #FFFFFF;
	height: 92px;
	width: 233px;
	float:left;
}
#arriba2 {
	background-color: #FFFFFF;
	height: 92px;
	width: 887px;
	float:left;
	background-image: url(imagenes/arriba2.jpg);
}
#arriba3 {
	background-color: #FFFFFF;
	height: 26px;
	width: 1120px;
	float:left;
}
#menu {
	background-color: #FFFFFF;
	height: 53px;
	width: 1120px;
	float:left;
	background-image: url(imagenes/fondo-buttom.jpg);
}
.menuprincipal {
float:left;
padding-left: 0px;
padding-right: 12px;
padding-bottom:0px;
padding-top:0px;
margin: 0px;
font-size: 14px;
font-family: 'Fira Sans', sans-serif;
color: #FFFFFF;
letter-spacing: 0.4px;
border-radius: 0px 11px 0px 0px;
behavior:url(PIE.htc);
position:relative;
z-index:3;
width:1000px;
}
.menuprincipal li {
display:inline;
}
.menuprincipal li a {
font-size: 14px;
font-family: 'Fira Sans', sans-serif;
color: #FFFFFF;
letter-spacing: 0.2px;
text-decoration:none;
float:left;
padding-left: 25px;
padding-right: 28px;
padding-bottom:13px;
padding-top:17px;
margin-right: -17px;
height: 41px;
width: 80px;
background: -webkit-linear-gradient(#9c9c9c, #000000);
background: -moz-linear-gradient(#9c9c9c, #000000);
background: -o-linear-gradient(#9c9c9c, #000000);
background: -ms-linear-gradient(#9c9c9c, #000000);
-pie-background: linear-gradient(#9c9c9c, #000000);
border-radius: 11px 11px 0px 0px;
behavior:url(PIE.htc);
text-align:center;

}
.menuprincipal li a:hover {
background: -webkit-linear-gradient( #ccd0db, #808080);
background: -moz-linear-gradient( #ccd0db, #808080);
background: -o-linear-gradient( #ccd0db, #808080);
background: -ms-linear-gradient( #ccd0db, #808080);
-pie-background: linear-gradient( #ccd0db, #808080);
color: #FFFFFF;
margin-top:-5px;
behavior:url(PIE.htc);
font-size: 14px;
font-family: 'Fira Sans', sans-serif;
}
.menuprincipal li a:active {
background: -webkit-linear-gradient( #ccd0db, #808080);
background: -moz-linear-gradient( #ccd0db, #808080);
background: -o-linear-gradient( #ccd0db, #808080);
background: -ms-linear-gradient( #ccd0db, #808080);
-pie-background: linear-gradient( #ccd0db, #808080);
color: #FFFFFF;
behavior:url(PIE.htc);
}
#BOTON_ACTIVADO {
font-family: 'Fira Sans', sans-serif;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0.2px;
text-decoration:none;
float:left;
padding-left: 25px;
padding-right: 28px;
padding-bottom:13px;
padding-top:13px;
margin-right: -17px;
margin-top:-5px;
height: 41px;
background: -webkit-linear-gradient( #ccd0db, #808080);
background: -moz-linear-gradient( #ccd0db, #808080);
background: -o-linear-gradient( #ccd0db, #808080);
background: -ms-linear-gradient( #ccd0db, #808080);
-pie-background: linear-gradient( #ccd0db, #808080);
border-radius: 11px 11px 0px 0px;
behavior:url(PIE.htc);
z-index:30;
}
.BOTON_ACTIVADO {
font-family: "Trebuchet MS";
font-size: 11px;
color: #FFFFFF;
letter-spacing: 0.2px;
text-decoration:none;
float:left;
padding-left: 25px;
padding-right: 28px;
padding-bottom:13px;
padding-top:13px;
margin-right: -17px;
margin-top:-5px;
height: 41px;
background: -webkit-linear-gradient( #66CC66, #1A490A);
background: -moz-linear-gradient( #66CC66, #1A490A);
background: -o-linear-gradient( #66CC66, #1A490A);
background: -ms-linear-gradient( #66CC66, #1A490A);
-pie-background: linear-gradient( #66CC66, #1A490A);
font-weight: bold;
border-radius: 11px 11px 0px 0px;
behavior:url(PIE.htc);
z-index:30;
}
.BOTON_ACTIVADO a:hover {
background: -webkit-linear-gradient( #66CC66, #1A490A);
background: -moz-linear-gradient( #66CC66, #1A490A);
background: -o-linear-gradient( #66CC66, #1A490A);
background: -ms-linear-gradient( #66CC66, #1A490A);
-pie-background: linear-gradient( #66CC66, #1A490A);
color: #FFFFFF;
font-weight: bold;
margin-top:-5px;
behavior:url(PIE.htc);
}
#banner {
	background-color: #FFFFFF;
	float: left;
	height: 328px;
	width: 1120px;
	position:relative;
	z-index:10;
}
#separo {
	background-color: #FFFFFF;
	float: left;
	height: 59px;
	width: 1120px;
	position:relative;
	z-index:10;
	background-image: url(imagenes/separo.jpg);
}
#medio {
	background-color: #FFFFFF;
	float: left;
	height: auto;
	width: 222px;
}
#separo-medio {
	background-color: #FFFFFF;
	float: left;
	height: auto;
	width: 53px;
}
#medio2 {
	background-color: #FFFFFF;
	float:right;
	height: auto;
	width: 845px;
}
#separo2 {
	background-color: #FFFFFF;
	float: left;
	height: 90px;
	width: 1120px;
}
#abajo {
	background-color: #FFFFFF;
	float: left;
	height: 321px;
	width: 100%;
	background-image: url(imagenes/fondo-abajo.jpg);
}
.texto-abajo {
font-size: 15px;
font-family: 'Fira Sans', sans-serif;
color: #666666
}
.texto-abajo-tel {
font-size: 19px;
font-family: 'Fira Sans', sans-serif;
color: #666666
}
.text-mail {
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
color: #666666;
font-weight:bold;
}
.text-mail a {
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
color: #666666;
font-weight:bold;
text-decoration:none;
}
.text-mail a:hover {
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
color: #666666;
font-weight:bold;
text-decoration:underline;
}
.text-mail a:active {
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
color: #666666;
font-weight:bold;
text-decoration:underline;
}
.titulo-modulos {
font-family: 'Fira Sans', sans-serif;
font-size: 18px;
color: #515151;
font-weight:bold;
}
.texto-principal {
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
color: #515151;
text-align:justify;
}
.titulo-modulos2 {
font-family: 'Fira Sans', sans-serif;
font-size: 15px;
color: #515151;
font-weight:bold;
}
.texto-principal2 {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #515151;
text-align:justify;
}
.texto-principal3 {
font-family: 'Fira Sans', sans-serif;
font-size: 30px;
color: #003366;
text-align:justify;
font-weight:bold;
}
.texto-principal4 {
font-family: 'Fira Sans', sans-serif;
font-size: 18px;
color: #515151;
text-align:justify;
}
.texto-principal5 {
font-family: 'Fira Sans', sans-serif;
font-size: 22px;
color: #003366;
text-align:justify;
font-weight:bold;
}
.text-rojo {
font-family: 'Fira Sans', sans-serif;
font-size: 17px;
color: #CC0000;
text-align: justify;
font-weight:bold;
}
.texto-rojo a {
font-family: 'Fira Sans', sans-serif;
font-size: 17px;
color: #CC0000;
text-decoration:none;
font-weight:bold;
}
.texto-rojo a:hover {
font-family: 'Fira Sans', sans-serif;
font-size: 17px;
color: #CC0000;
font-weight:bold;
text-decoration: underline;
}
.error{

	font-family: 'Fira Sans', sans-serif;
	font-size:17px;
	color: #D00000;
	padding-left: 2px;
   
}
.textarea-contacto {
border: 1px #347EBB; 
border-style: solid; 
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #003366;
vertical-align:middle;
background: #FFFFFF;
max-width: 98%;
min-width: 98%;
max-height: 25px;
min-height: 25px;
margin-bottom:2px; 
}
.textarea-tel {
border: 1px  #347EBB;
border-style: solid; 
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px;
color: #003366;
vertical-align:middle;
background: #FFFFFF;
max-width: 98%;
min-width: 98%;
max-height: 23px;
min-height: 23px;
margin-bottom:2px; 
}
.error:before{
content: '';
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
border-right: 8px solid #BC1010;
border-left: 8px solid transparent;
left: -16px;
position: absolute;
top: 5px;
font-family: 'Fira Sans', sans-serif;
font-size:12px;
}
.error-condiciones {
font-size: 16px;
font-family: 'Fira Sans', sans-serif;
color: D00000;
line-height:15px;  
}
.textarea-mensaje {
border: 1px  #347EBB; 
border-style: solid; 
font-family: 'Fira Sans', sans-serif;
font-size: 16px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #003366;
vertical-align:middle;
background:  #FFFFFF;
max-width: 98%;
min-width: 98%;
max-height: 100px;
min-height: 100px;
margin-bottom:2px; 
}
.text-menu-lateral {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #003366;
text-align: center;
font-weight:bold;
}
.text-menu-lateral a {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #003366;
text-align: center;
font-weight:bold;
text-decoration:none;
}
.text-menu-lateral a:hover {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #990000;
text-align: center;
font-weight:bold;
text-decoration:none;
}
.text-menu-lateral a:active {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #990000;
text-align: center;
font-weight:bold;
text-decoration:none;
}
.text-menu-active {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #990000;
text-align: center;
font-weight:bold;
text-decoration:none;
}
.text-menu-active a {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #990000;
text-align: center;
font-weight:bold;
text-decoration:none;
}
.text-menu-active a:hover {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #990000;
text-align: center;
font-weight:bold;
text-decoration:none;
}
.text-menu-active a:active {
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
color: #990000;
text-align: center;
font-weight:bold;
text-decoration:none;
}
