#contenedor {
	background-color: #FFFFFF;
	width: auto;
	height:19px;
	background-image: url(imagenes/arrtop.jpg);
	background-repeat: repeat;
}
#contenedor2main {
	background-color: #FFFFFF;
	width: 1150px;
	height:100%;
	margin-right: auto;
	margin-left: auto;
}
#arriba {
	background-color: #FFFFFF;
	width: 254px;
	height:102px;
	float:left;
}
#menu1 {
	background-color: #FFFFFF;
	width: 880px;
	height:82px;
	float:left;
}
#menu2 {
	background-color: #FFFFFF;
	width: 880px;
	height:19px;
	float:left;
}
#bajo-separo{
	background-color: #FFFFFF;
	width: 1150px;
	height:16px;
	float:left;
}
#banner {
	background-color: #FFFFFF;
	width: 1150px;
	height:492px;
	clear:both;
	float:left;
}
#separo {
	background-color: #FFFFFF;
	width: 1120px;
	height:20px;
	float:left;
}
#medio {
	background-color: #FFFFFF;
	width: 1120px;
	height:100%;
	margin-right: auto;
	margin-left: auto;
}
#titulo-main {
	background-color: #FFFFFF;
	width: 755px;
	height:36px;
	float:left;
	background-image: url(imagenes/line02.jpg);
	background-repeat: repeat;
}
#separo2 {
	background-color: #FFFFFF;
	width: 56px;
	height:36px;
	float:left;
}
#titulo-main-der {
	background-color: #FFFFFF;
	width: 308px;
	height:36px;
	float:left;
}
#content {
	background-color: #FFFFFF;
	width: 755px;
	height:100%;
	float:left;
	margin-top: 17px;
}
#separo3 {
	background-color: #FFFFFF;
	width: 56px;
	height:66px;
	float:left;
}
#banner-content {
	background-color: #FFFFFF;
	width: 308px;
	height: auto;
	float:left;
}
#contenedor3foot {
	background-color: #FFFFFF;
	width: 100%;
	height:300px;
	clear:both;
	float:left;
	margin-top: 100px;
	background-image: url(imagenes/fondo-foot.jpg);
}
#foot {
	width: 1120px;
	height:300px;
	margin-right: auto;
	margin-left: auto;
}
#seccion-logo {
	width: 613px;
	height: 163px;
	float:left;
	background-image: url(imagenes/logo-inferior.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#seccion-info {
	width: 507px;
	height: 111px;
	float:left;
	margin-top: 52px;
}
#seccion-direc {
	width: 507px;
	height: 90px;
	float:left;
	padding-left: 21px;
}



.texto-menu-top {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #C4BEBC;
padding-top: 20px;
}
.texto-menu-top a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #C4BEBC;
padding-top: 20px;
text-decoration:none;
}
.texto-menu-top a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #999999;
padding-top: 20px;
text-decoration:underline;
}
.texto-menu-top a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #999999;
padding-top: 20px;
text-decoration:underline;
}
.texto-menu-top2 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #999999;
padding-top: 20px;
text-decoration:underline;
}
.texto-menu-top2 a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #999999;
padding-top: 20px;
text-decoration:underline;
}
.texto-menu-top2 a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #999999;
padding-top: 20px;
text-decoration:underline;
}
.texto-menu-top2 a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 13px;
color: #999999;
padding-top: 20px;
text-decoration:underline;
}
.texto-menu-principal {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #989E9F;
padding-left: 25px;
float:right;
vertical-align:bottom;
text-decoration:none;
}
.texto-menu-principal a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #989E9F;
padding-left: 25px;
float:right;
vertical-align:bottom;
text-decoration:none;
}
.texto-menu-principal a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
}
.texto-menu-principal a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
}
.image-text-titulo {
vertical-align:top;
float:left;
padding-top: 6px;
} 
.titulo-main {
font-family: 'Roboto Condensed', sans-serif;
font-size: 25px;
font-weight: bold;
color: #3A4763;
vertical-align:top;
float:left;
}
.titulo-publicaciones {
font-family: 'Roboto Condensed', sans-serif;
font-size: 25px;
font-weight: bold;
color: #5C6270;
vertical-align:top;
float:left;
}
.text-direc {
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #FFFFFF;
vertical-align:top;
}
.text-fono {
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
color: #FFFFFF;
vertical-align:top;
float: right;
font-weight:bold;
padding-top: 3px;
}
.text-mail {
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
color: #FFFFFF;
float: right;
font-weight:bold;
}
.text-mail a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
color: #FFFFFF;
float: right;
font-weight:bold;
text-decoration:none;
}
.text-mail a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
color: #FFFFFF;
float: right;
font-weight:bold;
text-decoration:underline;
}
.text-mail a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 18px;
color: #FFFFFF;
float: right;
font-weight:bold;
text-decoration:underline;
}
.image-tel {
vertical-align:top;
padding-top: -12px;
} 
.text-modulos-home {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #3A4763;
text-align: justify;
}
.text-modulos-home a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #3A4763;
text-align: justify;
text-decoration:none;
}
.texto-menu-principal2 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
text-decoration:none;
}
.texto-menu-principal2 a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
text-decoration:none;
}
.texto-menu-principal2 a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
}
.texto-menu-principal2 a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
}
.text-Pprincipal {
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
color: #3A4763;
text-align: justify;
}
.text-Pprincipal2 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 19px;
color: #3A4763;
text-align: justify;
}
.texto-menu-principal2 a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
text-decoration:none;
}
.texto-menu-principal2 a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
}
.texto-menu-principal2 a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #000000;
padding-left: 25px;
float:right;
vertical-align:bottom;
}
.text-rojo {
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
color: #CC0000;
text-align: justify;
font-weight:bold;
}
.texto-rojo a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
color: #CC0000;
text-decoration:none;
font-weight:bold;
}
.texto-rojo a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
color: #CC0000;
font-weight:bold;
text-decoration: underline;
}
.texto-rojo a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
color: #CC0000;
font-weight:bold;
text-decoration: underline;
}
.error{

	font-family: 'Roboto Condensed', sans-serif;
	font-size:17px;
	color: #D00000;
	padding-left: 2px;
   
}
.textarea-contacto {
border: 1px #FF9900; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #FFFFFF;
vertical-align:middle;
background: #FF9900;
max-width: 98%;
min-width: 98%;
max-height: 19px;
min-height: 19px;
margin-bottom:2px; 
}
.textarea-tel {
border: 1px  #FF9900;
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px;
color: #FFFFFF;
vertical-align:middle;
background: #FF9900;
max-width: 98%;
min-width: 98%;
max-height: 19px;
min-height: 19px;
margin-bottom:2px; 
}
.error:before{
content: '';
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
border-right: 8px solid #BC1010;
border-left: 8px solid transparent;
left: -16px;
position: absolute;
top: 5px;
font-family: 'Roboto Condensed', sans-serif;
font-size:12px;
}
.error-condiciones {
font-size: 16px;
font-family: 'Roboto Condensed', sans-serif;
color: D00000;
line-height:15px;  
}
.textarea-mensaje {
border: 1px  #FF9900; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #FFFFFF;
vertical-align:middle;
background: #FF9900;
max-width: 98%;
min-width: 98%;
max-height: 100px;
min-height: 100px;
margin-bottom:2px; 
}
.text-Pprincipal3 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #3A4763;
}
