#contenedor {
	background-color: #FFFFFF;
	width: 1108px;
	margin-right: auto;
	margin-left: auto;
}
#arriba1 {
	height: 23px;
	width: 1108px;
	background-image: url(imagenes/fondo-top.jpg);
	background-repeat: repeat;
	float: left;
}
#logo {
	height: 134px;
	width: 382px;
	float: left;
}
#arriba2 {
	height: 39px;
	width: 606px;
	float: left;
}
#carro {
	height: 39px;
	width: 120px;
	float: left;
}
#arriba3 {
	height: 52px;
	width: 726px;
	float: left;
}
#botoneria {
	height: 43px;
	width: 726px;
	float: left;
}
#separo {
	height: 17px;
	width: 1108px;
	float: left;
	background-image: url(imagenes/separo-arriba.jpg);
}
#banner {
	float: left;
	height: 142px;
	width: 1108px;
	background-color: #FFFFFF;
}
#separo-banner {
	float: left;
	height: 62px;
	width: 1108px;
	background-image: url(imagenes/separa-abajo-banner.jpg);
	background-repeat: repeat;
}
#main {
	float: left;
	height: auto;
	width: 1108px;
}
#menuizq {
	float: left;
	height: auto;
	width: 280px;
	margin-top: -19px;
	margin-left: -7px;
}
#mainderecha {
	float: left;
	height: auto;
	width: 820px;
	margin-left: 7px;
}
#separo-abajo {
	float: left;
	height: 112px;
	width: 1108px;
}
#linea {
	float: left;
	height: 16px;
	width: 100%;
	background-image: url(imagenes/color-gris.jpg);
	background-repeat: repeat;
}
#abajo {
	float: left;
	height: auto;
	width: 100%;
	background-image: url(imagenes/fondo-color.jpg);
	background-repeat: repeat;
}
#top-abajo {
	float: left;
	height: 40px;
	width: 100%;
}
#content-abajo {
	float: left;
	height: auto;
	width: 100%;
}
#bottom-abajo {
	float: left;
	height: 65px;
	width: 100%;
}



.texto-arriba {
font-family: 'Roboto Condensed', sans-serif;
font-size: 19px;
color: #E55252;
}
.texto-global {
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #666666;
text-align:justify;
}
.texto-global2 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #666666;
text-align:justify;
line-height: 2;
}
.texto-global2 a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #666666;
text-align:justify;
line-height: 2;
text-decoration:none;
}
.texto-global2 a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #666666;
text-align:justify;
line-height: 2;
text-decoration:underline;
}
.texto-arriba a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 19px;
color: #E55252;
text-decoration:none;
}
.texto-arriba a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 19px;
color: #E55252;
text-decoration:underline;
}
.texto-menu {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #B4B3B3;
padding-left: 27px;
padding-right: 15px;
}
.texto-menu a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #B4B3B3;
text-decoration:none;
}
.texto-menu a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #4EADE6;
text-decoration:none;
}
.texto-menu a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #4EADE6;
text-decoration:none;
}
.texto-menu-active a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #4EADE6;
text-decoration:none;
padding-left: 27px;
padding-right: 15px;
}
.titulos {
font-family: 'Roboto Condensed', sans-serif;
font-size: 31px;
color: #CACACA;
font-stretch: ultra-condensed;
}
.TEXTO-ABAJO {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
line-height: 2;
}
.TEXTO-ABAJO a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
line-height: 2;
text-decoration:none;
}
.TEXTO-ABAJO a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
line-height: 2;
text-decoration:underline;
}
.TEXTO-ABAJO3 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
}
.TEXTO-ABAJO2 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
}
.error{

	font-family: 'Roboto Condensed', sans-serif;
	font-size:15px;
	color: #D00000;
	padding-left: 2px;
   
}
.textarea-contacto {
border: 1px #BFBFBF; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #003366;
vertical-align:middle;
background: #F5F5F5;
max-width: 115px;
min-width: 115px;
max-height: 23px;
min-height: 23px;
margin-bottom:2px; 
}
.textarea-tel {
border: 1px  #BFBFBF;
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px;
color: #003366;
vertical-align:middle;
background: #F5F5F5;
max-width: 98%;
min-width: 98%;
max-height: 22px;
min-height: 22px;
margin-bottom:2px; 
}
.textarea-tel2 {
border: 1px  #BFBFBF;
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px;
color: #003366;
vertical-align:middle;
background: #E6EBF7;
max-width: 40px;
min-width: 40px;
max-height: 16px;
min-height: 16px;
margin-bottom:2px; 
text-align: center;
}
.textarea-tel3 {
border: 1px  #BFBFBF;
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px;
color: #003366;
vertical-align:middle;
text-align:center;
background: #E6EBF7;
max-width: 40px;
min-width: 40px;;
max-height: 16px;
min-height: 16px;
margin-bottom:2px; 
}
.error:before{
content: '';
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
border-right: 8px solid #BC1010;
border-left: 8px solid transparent;
left: -16px;
position: absolute;
top: 5px;
font-family: 'Roboto Condensed', sans-serif;
font-size:12px;
}
.error-condiciones {
font-size: 16px;
font-family: 'Roboto Condensed', sans-serif;
color: D00000;
line-height:15px;  
}
.textarea-mensaje {
border: 1px  #BFBFBF; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #003366;
vertical-align:middle;
background:  #F5F5F5;
max-width: 98%;
min-width: 98%;
max-height: 100px;
min-height: 100px;
margin-bottom:2px; 
}
.textarea-carro {
border: 1px  #8FB4E6;
border-radius: 4px;
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;;
font-size: 13px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #0066FF;
vertical-align:middle;
background:  #F5F5F5;
max-width: 33px;
min-width: 33px;
max-height: 15px;
min-height: 15px;
margin-top: 2px;
text-align:center;
}




#accordion {
	list-style: none;
	padding-left: 7PX;
	padding-right: 7PX;
	padding-top: 2PX;
	padding-bottom: 2PX;
	width: 210px;
}
#accordion li{
	display: block;
	margin: 2px;
	padding-left: 7PX;
	padding-right: 7PX;
	padding-top: 6PX;
	padding-bottom: 6PX;
	cursor: pointer;
	list-style: circle;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#FFFFFF;
	font-size: 14PX;
	
}
#accordion ul {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
	text-decoration:none;
}
#accordion ul li{
	cursor: auto;
	background-color: #F6F5F5;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration:none;
}
#accordion a {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color:#8B9094;
	font-size: 15PX;
}
#accordion a:hover {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color:#E93433;
	padding-left: 9px;
	font-size: 15PX;
	font-weight: normal;
}


.accordion-COLOR1 {
background:#E93433;

}
.accordion-COLOR2 {
background:#A3C200;

}
.accordion-COLOR3 {
background:#426ED7;

}


#activado {
	font-family: 'Roboto Condensed', sans-serif;
	color: #E93433;
	font-size: 15PX;
	font-weight: normal;
}
#activado a {
	font-family: 'Roboto Condensed', sans-serif;
	color: #E93433;
	font-size: 15PX;
	font-weight: normal;
	padding-left:9px;
}
#activado a:hover {
	font-family: 'Roboto Condensed', sans-serif;
	color: #E93433;
	font-size: 15PX;
	font-weight: normal;
}
.texto-global3 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #666666;
text-align:justify;
padding-bottom: 3px;
padding-top: 3px;
padding-left: 7px;
padding-right: 3px;
}
.texto-global33 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
color: #DE4646;
text-align:justify;
padding-bottom: 3px;
padding-top: 3px;
padding-left: 7px;
padding-right: 3px;
font-weight:bold;
}
.texto-global5 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
color: #FFFFFF;
text-align: center;
}
.texto-global7 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #666666;
text-align:justify;
}
.texto-global8 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #666666;
text-align: center;
}
.texto-global4 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #666666;
text-align:justify;
padding-bottom: 3px;
padding-top: 5px;
padding-left: 7px;
padding-right: 3px;
}

.sinlink0 {
	margin: 2px;
	list-style: circle;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#E93433;
	font-size: 14PX;
	width:206PX;
	height: 24px;
	padding-left: 7PX;
	padding-right: 7PX;
	padding-top: 4PX;
	padding-bottom: 4PX;
    background: #F9C1C1;
}


.sinlink1 {
	margin: 2px;
	list-style: circle;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#9DBA01;
	font-size: 14PX;
	width:206PX;
	height: 24px;
	padding-left: 7PX;
	padding-right: 7PX;
	padding-top: 4PX;
	padding-bottom: 4PX;
    background: #EFF5D0;
}
.sinlink2 {
	margin: 2px;
	list-style: circle;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#335FCA;
	font-size: 14PX;
	width:206PX;
	height: 24px;
	padding-left: 7PX;
	padding-right: 7PX;
	padding-top: 4PX;
	padding-bottom: 4PX;
    background: #E1E8F9;
}
.margin20 {
margin-bottom:70px;
}
}
.images{
padding-top: 7px;
padding-bottom: 7px;
}




}
.textarea-contacto22 {
border: 1px #3E8AC8; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 2px;
padding-left: 3px;
padding-right: 3px; 
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 100px;
min-width: 100px;
max-height: 25px;
min-height: 25px;
margin-bottom:2px; 
}
.textarea-contacto09 {
border: 1px #3E8AC8; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 2px;
padding-left: 3px;
padding-right: 3px; 
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 98%;
min-width: 98%;
max-height: 25px;
min-height: 25px;
margin-bottom:2px; 
}
.textarea-contacto55 {
border: 1px #3E8AC8; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #1F6DAA;
background: #F7F7F7;
max-width: 140px;
min-width: 140px;
height: 21px;
text-align: left;
}
.textarea-contacto44 {
border: 1px #3E8AC8; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 2px;
padding-left: 3px;
padding-right: 3px; 
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 40px;
min-width: 40px;
max-height: 20px;
min-height: 20px;
margin-bottom:2px;
text-align:center; 
}
.textarea-contacto88 {
border: 1px #3E8AC8; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 2px;
padding-left: 3px;
padding-right: 3px; 
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 200px;
min-width: 200px;
max-height: 25px;
min-height: 25px;
margin-bottom:2px;
}
.textarea-contacto99 {
border: 1px #3E8AC8; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 2px;
padding-left: 3px;
padding-right: 3px; 
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 220px;
min-width: 220px;
max-height: 25px;
min-height: 25px;
margin-bottom:2px;
}
.textarea-tel22 {
border: 1px  #3E8AC8;
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px;
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 98%;
min-width: 98%;
max-height: 19px;
min-height: 19px;
margin-bottom:2px; 
}
.textarea-tel55 {
border: 1px  #3E8AC8;
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px;
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 96%;
min-width: 96%;
max-height: 24px;
min-height: 24px;
margin-bottom:2px; 
}
.textarea-mensaje22 {
border: 1px  #3E8AC8; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #1F6DAA;
vertical-align:middle;
background: #F7F7F7;
max-width: 98%;
min-width: 98%;
max-height: 100px;
min-height: 100px;
margin-bottom:2px; 
}
.textarea-contacto-66 {
border: 1px #BFBFBF; 
border-style: solid; 
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #003366;
vertical-align:middle;
background: #F5F5F5;
max-width: 98%;
min-width: 98%;
max-height: 23px;
min-height: 23px;
margin-bottom:2px; 
}