#contenedor {
	background-color: #FFFFFF;
	width: 1108px;
	margin-right: auto;
	margin-left: auto;
}
#arriba1 {
	height: 23px;
	width: 1108px;
	background-image: url(imagenes/fondo-top.jpg);
	background-repeat: repeat;
	float: left;
}
#logo {
	height: 134px;
	width: 382px;
	float: left;
}
#arriba2 {
	height: 39px;
	width: 606px;
	float: left;
}
#carro {
	height: 39px;
	width: 120px;
	float: left;
}
#arriba3 {
	height: 52px;
	width: 726px;
	float: left;
}
#botoneria {
	height: 43px;
	width: 726px;
	float: left;
}
#separo {
	height: 17px;
	width: 1108px;
	float: left;
	background-image: url(imagenes/separo-arriba.jpg);
}
#banner {
	float: left;
	height: 304px;
	width: 1108px;
	background-color: #FFFFFF;
}
#separo-banner {
	float: left;
	height: 62px;
	width: 1108px;
	background-image: url(imagenes/separa-abajo-banner.jpg);
	background-repeat: repeat;
}
#main {
	float: left;
	height: auto;
	width: 1108px;
}
#separo-abajo {
	float: left;
	height: 112px;
	width: 300px;
}
#linea {
	float: left;
	height: 16px;
	width: 100%;
	background-image: url(imagenes/color-gris.jpg);
	background-repeat: repeat;
}
#abajo {
	float: left;
	height: auto;
	width: 100%;
	background-image: url(imagenes/fondo-color.jpg);
	background-repeat: repeat;
}
#top-abajo {
	float: left;
	height: 40px;
	width: 100%;
}
#content-abajo {
	float: left;
	height: auto;
	width: 100%;
}
#bottom-abajo {
	float: left;
	height: 65px;
	width: 100%;
}



.texto-arriba {
font-family: 'Roboto Condensed', sans-serif;
font-size: 19px;
color: #E55252;
}
.texto-arriba a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 19px;
color: #E55252;
text-decoration:none;
}
.texto-arriba a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 19px;
color: #E55252;
text-decoration:underline;
}
.texto-menu {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #B4B3B3;
padding-left: 27px;
padding-right: 15px;
}
.texto-menu a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #B4B3B3;
text-decoration:none;
}
.texto-menu a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #4EADE6;
text-decoration:none;
}
.texto-menu a:active {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #4EADE6;
text-decoration:none;
}
.texto-menu-active a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
float:right;
color: #4EADE6;
text-decoration:none;
padding-left: 27px;
padding-right: 15px;
}
.titulos {
font-family: 'Roboto Condensed', sans-serif;
font-size: 31px;
color: #CACACA;
font-stretch: ultra-condensed;
}
.TEXTO-ABAJO {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
line-height: 2;
}
.TEXTO-ABAJO a {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
line-height: 2;
text-decoration:none;
}
.TEXTO-ABAJO a:hover {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
line-height: 2;
text-decoration:underline;
}
.TEXTO-ABAJO3 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
}
.TEXTO-ABAJO2 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 14px;
color: #A8ABAD;
font-stretch: ultra-condensed;
text-align:justify;
}
.textarea-carro {
border: 1px  #8FB4E6;
border-radius: 4px;
border-style: solid; 
font-family: 'Fira Sans', sans-serif;
font-size: 13px;
padding-top: 3px;
padding-left: 3px;
padding-right: 3px; 
color: #0066FF;
vertical-align:middle;
background:  #F5F5F5;
max-width: 33px;
min-width: 33px;
max-height: 15px;
min-height: 15px;
margin-top: 2px;
text-align:center;
}