.text-main{
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #FFFFFF;
font-stretch: ultra-condensed;
text-align: center;
}
.text-main a{
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #FFFFFF;
font-stretch: ultra-condensed;
text-align: center;
text-decoration:none;
}
.text-main a:hover{
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
color: #FFFFFF;
font-stretch: ultra-condensed;
text-align: center;
text-decoration:underline;
}